DATABASE_URL=postgresql://postgres:your-super-secret-and-long-postgres-password@localhost:5432/postgres
NEXT_PUBLIC_SUPABASE_API_EXTERNAL_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_YANDEX_MAP_KEY=
NEXT_PUBLIC_DADATA_KEY=
